
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Helvetica Neue');
@import url('https://fonts.googleapis.com/css?family=sans-serif');

.mid-section{
    padding: 150px;
    display: block;
    border: 1px solid black;
    
}
.main-heading{
    font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}
.main-heading h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.55;
    margin-bottom: 15px;
    color:inherit;
}
.main-heading p{
    font-size: 14px;
    line-height: 1.75;
}
.col-lg-12{
    display: flex;
    border: 1px solid;
}
.left-items{
    text-align: right;
}
.sub-heading{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    color: initial;
}
.sub-heading a{
    text-decoration: none;
    font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #029349;
    background-color: transparent;
}
.sub-heading a:hover{
    text-decoration: underline;
}
.left-text p{
    font-size: 14px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: justify;
}
.left-text a{
    text-decoration: none;
    color: #029349;
    font-weight: bold;
}
.left-text a:hover{
    text-decoration: underline;
}
.right-items{
    text-align: left;
    
}
.exam-heading{
    color: black;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 17px;
   font-weight: 700;
}
.right-items p{
    margin-bottom: 10px;
}
.right-items strong{
    padding-right: 10px;
    text-align: justify;
}