
/* .container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 2em;
    background-color:#ffff;
    width:fit-content;
} */
form {
    padding: 1em;
    margin: 1em;
    width: 100%;
}
h5 {
    font-size: 2rem;
    color: #029349;
}
.form-group {
    place-items:initial;
    margin-bottom: 1em;
    
}
.form-control{
    border:1px solid #029349;
}
.btn-primary{
    background-color: #029349;
    border: 1px solid #036934;
    outline-style: none;
}
.btn-primary:hover{
    background-color: #029349;
    border: 1px solid #029349;
    
}
.form-control:focus{
    border-color: #029349;
    box-shadow:none;
}
.register-form{
    max-width: 700px;
    margin: 40px auto
}
.register-form .form-group label{
    font-weight: 500;
    margin-bottom: 5px;
}