
form {
    padding: 1em;
    margin: 1em;
    width: 100%;
}
h5 {
    font-size: 2rem;
    color: #029349;
}
.form-group {
    place-items:initial;
    margin-bottom: 1em;
    
}
.form-control{
    border:1px solid #029349;
}
.btn-primary{
    background-color: #029349;
    border: 1px solid #036934;
    outline-style: none;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #029349;
    border: 1px solid black;
}
.sub-button .btn:focus{
    border-color: #029349;
    box-shadow: none;
    outline: auto;
    background-color: #029349;
}
.form-control:focus{
    border-color: #029349;
    box-shadow:none;
}
.form-check-input:checked {
    background-color:#029349;
    border-color:#036934;
}
.form-check-input:focus {
   border-color: #036934;
   box-shadow: none;
}
.register-form{
    max-width: 700px;
    margin: 40px auto
}
.register-form .form-group label{
    font-weight: 500;
    margin-bottom: 5px;
}
